.container {
    margin: 20px 0 0 0;
	padding: 0;
	display: flex;
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}

.button {
    padding: 0;
	margin: auto 15px auto 0;
	display: flex;
	cursor: pointer;
}

.icon {
	width: 16px;
	height: 16px;
	stroke: #000000;
	stroke-width: 2px;
	fill: none;
}

.icon > svg {
	width: 100%;
	height: 100%;
}

.container.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.container.scrolled {
	opacity: 0;
	pointer-events: none;
}