.container {
	height: 100%;
	margin: 0 0 0 20px;
	display: flex;
	flex-direction: row;
	cursor: pointer;
}

.label {
	margin: auto 0;
	font-size: 14px;
}

.container.selected .label {
	font-weight: bold;
}

.counter {
	margin: auto 0 auto 10px;
	padding: 2px 5px;
	font-size: 11px;
	border-radius: 2px;
	color: #ffffff;
    background-color: #4da0da;
}

.disabled {
	pointer-events: none;
}