.container {
    height: 30px;
	margin: 0;
	display: flex;
}

.empty {
	opacity: 0.4;
	pointer-events: none;
}

.icon {
	margin: auto 10px auto 0;
	width: 16px;
	height: 16px;
	background-image: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ebebeb;
}

.label {
	font-size: 14px;
	margin: auto 0;
	cursor: pointer;
}

.counter {
	font-size: 12px;
	font-weight: bold;
	margin: auto 0 auto 10px;
	background: #fffada;
    padding: 2px 4px;
}

.selected .label {
	font-weight: bold;
}