.container {
    margin: 0;
    padding: 0 12px;
    flex-shrink: 0;
    cursor: pointer;
    transition: background-color 200ms ease-in;
}

.active.container {
    background-color: #ffffff;
}

.icon {
    width: 20px;
    height: 20px;
    fill: #404040;
    stroke: none;
}