.settings {
  &__container {
    position: absolute;
    right: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 4px 0 4px 4px;
    background: #ffffff;
    box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.1);
  }

  &__item {
    width: 100%;
    height: 40px;
    display: flex;
  }

  &__label {
    margin: auto 0;
    font-size: 14px;
  }

  &__checkbox {
    margin: auto 10px auto 0;
  }

  &__days {
    width: 30px;
    margin: 0 5px;
    text-align: right;
  }
}
