.container {
    max-width: 800px;
    min-width: 800px;
    margin: 40px auto 0 auto;
	padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    margin: 0 auto 20px 0;
    font-size: 18px;    
}

.buttons {
    margin: 0 auto 0 0;
    font-size: 14px;
    line-height: 18px;
}

.button {
    margin: 0 5px;
    font-size: 14px;
    line-height: 18px;
    color: #0060a0;
    border-bottom: 1px dashed rgba(0, 96, 160, 0.4);
    cursor: pointer;
}