.container {
	position: relative;
	width: 100%;
    margin: 0 0 20px 0;
    padding: 20px;
    box-sizing: border-box;
    flex-shrink: 0;    
    background: #ffffff;
}

.container.read {
	opacity: 0.8;
}

.title {
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	margin: 0 0 15px 0;
}

.title a {
	color: #000000;
	text-decoration: none;
}

.description {
	position: relative;
	font-size: 14px;
	line-height: 18px;
	overflow: hidden;
	margin: 20px 0 0 0;
}

.description img {
	max-width: 100%;
	padding: 0px;
	height: auto;
    margin: 0 auto 10px auto;
}

.description font {
	color: #000000 !important;
}

.description p {
	margin: 0 0 10px 0;
}

.description code {
	font-family: inherit;
}

.description blockquote {
	font-style: italic;
    color: #767676;
	margin: 0;
}

.description h1,
.description h2 {
	font-size: 14px;
    margin: 0;
}

.description ol {
	margin: 0;
    padding: 0 0 0 20px;
}

.description a {
	color: #4076cc;
}

.feed {	
	margin: 10px 0;	
	display: flex;
}

.feedIcon {
	width: 14px;
	height: 14px;
	margin: auto 0;
	background-image: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ebebeb;
}

.feedTitle {
	font-size: 12px;
	margin: auto 0 auto 10px;
	color: #909090;
}

.collapsed .description {
	max-height: 800px;
}

.expandButton {
	position: absolute;	
	left: 0;
	right: 0;
	bottom: 20px;
	height: 60px;
	width: 100%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.8));
	cursor: pointer;
}