.entries-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid .entries-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

@media (min-width: 1100px) {
  .grid .entries-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
