.container {
    background-color: #1d1d1d;
}

.title a {
	color: #bfbfbf;
}

.description {
    color: #bfbfbf;
}

.description font {
	color: #bfbfbf !important;
}

.expandButton {
    background-color: rgba(29, 29, 29, 0.8);
}