.container {
    max-width: 800px;
    min-width: 800px;
    margin: 20px auto 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: stretch;
    flex-grow: 1;
}