html, body {
	margin: 0;
	padding: 0;
	font-family: i8sans,"Helvetica Neue","Arial",sans-serif;
	font-size: 16px;
}

input {
	font-weight: normal;
    font-family: i8sans,"Helvetica Neue","Arial",sans-serif;
}

#main {
	padding: 20px 20px 0 20px;
	display: flex;
    flex-direction: column;
}

#header {
	display: none;
	width: 100%;
    margin: 0;
    padding: 0 0 0 10px;
}

#menu {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	position: absolute;
	top: 40px;
	left: 30px;
}

#menu.fixed {
	position: fixed;
    top: -20px;
}

#content {
    max-width: 800px;
    min-width: 800px;
    margin: 20px auto 0 auto;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: stretch;
	flex-grow: 1;
}

#bottom-menu {
	width: 800px;
    margin: 0 auto;
	padding: 20px 0;	
}

#read-more {
	color: #767676;
	font-size: 12px;
	cursor: pointer;
}

.main-title {
	float: left;
	font-size: 22px;
	font-weight: bold;
	margin: 0 0 10px 0;
}

#reload-button {
	margin: 0 0 20px 0;
    display: flex;
    flex-direction: row;
	cursor: pointer;
}

#reload-button-icon {
	width: 16px;
	height: 16px;
	margin: auto 0;
	stroke: #000000;
	stroke-width: 2px;
	fill: none;
}

#reload-button-icon > svg {
	width: 100%;
    height: 100%;
}

#reload-button-label {
	font-size: 14px;
	margin: auto 0 auto 10px;
}

#reload-button.active {
	opacity: 0.6;
	pointer-events: none;	
}

#reload-button.active #reload-button-icon {
	animation: spin 2s linear infinite;
}

.hidden {
	display: none !important;
}

.entry {
	width: 100%;
	margin: 20px 0 40px 0;
	flex-shrink: 0;
	border-bottom: 1px solid #ececec;
}

.entry.read {
	opacity: 0.6;
}

.entry .title {
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	margin: 0 0 15px 0;
}

.entry .title a {
	color: #000000;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	text-decoration: none;
}

.entry .description {
	font-size: 14px;
	line-height: 18px;
	overflow: hidden;
	margin: 20px 0 40px 0;
}

.entry .description img {
	max-width: 100%;
	padding: 0px;
	height: auto;
    margin: 0 auto 10px auto;
}

.entry .description font {
	color: #000000 !important;
}

.entry .description p {
	margin: 0 0 10px 0;
}

.entry .description code {
	font-family: inherit;
}

.entry .description blockquote {
	font-style: italic;
    color: #767676;
	margin: 0;
}

.entry .description h1,
.entry .description h2 {
	font-size: 14px;
    margin: 0;
}

.entry .description ol {
	margin: 0;
    padding: 0 0 0 20px;
}

.entry .description a {
	color: #4076cc;
}

.entry .channel {	
	margin: 10px 0;	
	display: flex;
}

.entry .channel-icon {
	width: 14px;
	height: 14px;
	margin: auto 0;
	background-image: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ebebeb;
}

.entry .channel-title {
	font-size: 12px;
	margin: auto 0 auto 10px;
	color: #909090;
}

#menu-channels {
	margin: auto 20px auto 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

#menu-channels:empty {
	display: none;
}

.menu-item {
	height: 30px;
	margin: auto 30px auto 0;
	display: flex;
}

.menu-item.empty {
	opacity: 0.4;
	pointer-events: none;
}

.menu-item .icon {
	margin: auto 10px auto 0;
	width: 16px;
	height: 16px;
	background-image: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ebebeb;
}

.menu-item .title {
	font-size: 14px;
	margin: auto 0;
	cursor: pointer;
}

.menu-item .counter {
	font-size: 12px;
	font-weight: bold;
	margin: auto 0 auto 10px;
	background: #fffada;
    padding: 2px 4px;
}

.menu-item.selected .title {
	font-weight: bold;
}

.menu-item .deleteButton {
	margin: auto 0 auto 10px;
	width: 16px;
	height: 16px;
	stroke: #000000;
	stroke-width: 1px;
	fill: none;
	pointer-events: auto;
	cursor: pointer;
	display: none;
}

.menu-item .deleteButton > svg {
	width: 100%;
	height: 100%;
}

#menu-channels.editing .menu-item {
	opacity: 1;
}

#menu-channels.editing .menu-item .counter {
	display: none;
}

#menu-channels.editing .menu-item .deleteButton {
	display: initial;
}

#menu-channels-edit {
	margin: 20px 0 0 0;
	padding: 0;
	display: flex;
}

.menu-channels-item {
	padding: 0;
	margin: auto 15px auto 0;
	display: flex;
	cursor: pointer;
}

.menu-channels-item .icon {
	width: 16px;
	height: 16px;
	stroke: #000000;
	stroke-width: 2px;
	fill: none;
}

.menu-channels-item .icon > svg {
	width: 100%;
	height: 100%;
}

#menu-channels-add-form {
	display: flex;
}

#menu-channels-add-form.disabled {
	opacity: 0.6;
	pointer-events: none;
}

#menu-channels-add-form-link {
    width: 300px;
    margin: auto 20px auto 0;
    font-size: 14px;
}

#menu-channels-add-form-link.error {
	color: #ce1616;
}

#menu-channels-item-add.menu-channels-item .icon {
	width: 18px;
	height: 18px;
}

#menu-channels-item-edit.menu-channels-item.active .icon {
	stroke: #2f74f1;
}

@keyframes spin { 
	100% { 
		transform: rotate(360deg);
	}
}