.container {
    margin: 30px 0 0 0;
	padding: 0;
	height: 30px;
	display: flex;
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}

.button {
    padding: 0;
	margin: auto 10px auto 0;
	display: flex;
	cursor: pointer;
}

.formButton {
	padding: 0;
	margin: auto 0 auto 10px;
	display: flex;
	cursor: pointer;
}

.icon {
	width: 16px;
	height: 16px;
	stroke: #000000;
	stroke-width: 2px;
	fill: #000000;
}

.icon > svg {
	width: 100%;
	height: 100%;
}

.icon.editing {
	stroke: #2f74f1;
}

.form {
	width: 100%;
	display: flex;
}

.form.disabled {
	opacity: 0.6;
	pointer-events: none;
}

.linkField {
    margin: auto 0;
	font-size: 14px;
	flex-grow: 1;
}

.linkField.error {
	color: #ce1616;
}

.container.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.container.scrolled {
	opacity: 0;
	pointer-events: none;
}

@media (max-width: 768px) {
	.container {
		margin: 0;
	}
}
