.container {
    position: sticky;
    top: 70px;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
}

@media (max-width: 768px) {
    .container {
        position: relative;
        top: auto;
        width: auto;
        flex-direction: row;
        overflow: auto;
    }
}
