.feed-edit {
  display: flex;
  height: 30px;
  margin: 30px 0 0 0;
  padding: 0;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;

  &_disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &_scrolled {
    opacity: 0;
    pointer-events: none;
  }

  &__button {
    display: flex;
    margin: auto 10px auto 0;
    padding: 0;
    cursor: pointer;
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: #000000;
    stroke: #000000;
    stroke-width: 2px;

    &_editing {
      stroke: #2f74f1;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.feed-edit-form {
  display: flex;
  width: 100%;


  &__button {
    display: flex;
    margin: auto 0 auto 10px;
    padding: 0;
    cursor: pointer;
  }

  &__field {
    flex-grow: 1;
    margin: auto 0;
    font-size: 14px;
  }
}

/*
* grid
*/

.grid .feed-edit {
  margin: auto 0 auto auto;
}

/*
* theme
*/

.dark .feed-edit {
  &__icon {
    fill: #a5a5a5;
    stroke: #a5a5a5;
  }
}

@media (max-width: 768px) {
  .feed-edit {
    margin: 0;
  }
}
