.container {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
}

.button {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    cursor: pointer;
}

.icon {
	margin: auto 10px auto 0;
	width: 16px;
    height: 16px;
    flex-shrink: 0;
	background-image: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ebebeb;
}

.label {
    margin: auto 0;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected .label {
    font-weight: bold;
}

.counter {
	margin: auto 0 auto 10px;
	padding: 2px 5px;
	font-size: 11px;
	border-radius: 2px;
	color: #ffffff;
    background-color: #4da0da;
}

.editPanel {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.editButton {
    padding: 0;
	margin: auto 0 auto 10px;
	display: flex;
	cursor: pointer;
}

.editButtonIcon {
	width: 16px;
	height: 16px;
	stroke: #000000;
	stroke-width: 2px;
	fill: #000000;
}

.editButtonIcon > svg {
	width: 100%;
	height: 100%;
}

.titleField {
    margin: auto 10px auto 0;
	font-size: 13px;
	flex-grow: 1;
}