.icon {
	composes: icon from './Feed.module.css';
    background-color: #bfbfbf;
}

.label {
    composes: label from './Feed.module.css';
    color: #bfbfbf;
}

.editButtonIcon {
	composes: editButtonIcon from './Feed.module.css';
	stroke: #a5a5a5;
	fill: #a5a5a5;
}
